@media (min-width: 992px){
  .produto:hover{
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 8px;
  }
}

/*LargeTablets*/
@media (min-width: 768px) and (max-width: 991.99px){
    
}

/*Tablet*/
@media (min-width: 340px) and (max-width: 844.98px){
  #minibanners{
    display: flex;
    flex-direction: column;
  }
}

/*Celular*/
@media (max-width: 339.98px){
  #minibanners{
    display: flex;
    flex-direction: column;
  }
}

#banner{
  width: 100%;
  height: 500px;
}

#banner img{
  width: 100%;
  height: 500px;
}

#minibanners{
  display: flex;
  justify-content: center;
  margin: 0px 2%;
}

#minibanners img{
  margin: 30px 8px;
  border-radius: 15px;
  width: 98%;
}

.maisvend{
  text-align: center;
  color: #202121;
}

.Pmaisvendidos{
  display: flex;
  padding: 0px 6%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.Pmaisvendidos img{
  width: 100%;
}

.produto img{
  width: 100%;
}

.produto h4{
  text-align: center;
}

.produto{
  cursor: pointer;
}




.produto p{
  text-align: center;
  position: relative;
  top: -5px;
}

.preço{
  color: rgb(29, 210, 29);
  font-size: 130%;
  font-weight: 600;
  text-align: center;
}

.produto h4{
  padding: 0px 15px;
  font-size: 140%;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.comprar{
  background-color: #51A92B;
  border-color: #51A92B;
  width: 100%;
}

.arrow{
  min-width: 20%;
}

.CarrosselP{
  margin: 30px 8%;
}


