.imagem{
    width: 100%;
    margin-bottom: 5px;
    display: flex;
}


.item img{
    width: 135px;
    margin: 0px 4px;
    margin-bottom: 5px;
    margin-top: 5px;
    
}

.item{
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;

}

.setas{
    width: 100%;
    display: flex;
    cursor: pointer;
}

.setas:hover{
    opacity: 0.5;
}

#carousel{
    display: flex;
}

.carousel{
    width: 88%;
    margin-left: auto;
    margin-right: auto;
}

.item::-webkit-scrollbar{
    display: none;
}

.divseta{
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

.setasBotão{
    background-color: transparent;
    border: none;
}