/*PC*/
@media (min-width: 992px){
    #menucel{
        display: none !important;
    }

    #category{    
        margin-left: 5%;
    }

    #category:hover{
        background-color: rgb(236, 187, 241);
    }

    #nav{     
        margin-right: 16%;
        height: 57px;
    }
    #lista a{
        font-size: 120% !important;
        display: flex;
        padding: 14px !important;
    }
    #lista{
        padding: 0% !important;
    }

    #icones i{
        margin-right: 5% !important; 
    }

    #icones i:hover{
        color: rgb(205, 201, 201);
    }

    #icones a:hover{
        text-decoration: none;
        color: rgb(205, 201, 201);
    }

    #iconesao {
        width: 28% !important;
        margin-top: auto !important;
        margin-bottom: auto !important;
    }

    #pesquisao {
        width: 54% !important;
        margin-top: auto !important;
        margin-bottom: auto !important;
    }
    #icones i{
        cursor: pointer;
    }
    
}

/*LargeTablets*/
@media (min-width: 768px) and (max-width: 991.98px){
    #nav{
        padding: 7px 0px;
        display: none !important;
    }

    #navbarzao{
        height: 72px !important;
    }

    #lista a{
        padding: 22px !important;
    }
    #pesquisao{
        display: none !important;
    }
    .pesquisa{
        display: none !important;
    }

    #logao{
        width: 50% !important;
    }

    #logo{
        margin-left: auto;
        margin-right: auto;
        width: 46% !important;
    }

    #category{
        display: none;
    }

    #icones{     
        margin-left: auto;
    }
    #Logo{
        margin-left: auto;
    }
    #entrar{
        display: none;
    }

    #icones i{
        font-size: 100%;
    }
}

/*Tablet*/
@media (min-width: 340px) and (max-width: 767.99px){
    .pesquisa{
        display: none !important;
    }
    #pesquisao{
        display: none !important;
    }
    #nav{
        padding: 7px 0px;
        display: none !important;
    }
    #icones i{
        font-size: 70%;
    }
    #logo{
        font-size: 70%;
        width: 100px !important;
    }
    #logao{
        width: 50% !important;
    }

    #lista{
        padding: 7px 0px !important;
    }

    #navbarzao{
        height: 70px !important;
    }

    #lista a{
        padding: 0px 17px !important;
        font-size: 71% !important;
    }

    #logo{
        margin-left: auto;
        margin-right: auto;
    }

    #category{
        display: none;
    }
    #icones{     
        margin-left: auto;
    }
    #Logo{
        margin-left: auto;
    }
    #entrar{
        display: none;
    }
    #icones i{
        font-size: 80%;
    }
}

/*Celular*/
@media (max-width: 339.99px){
    #navbarzao{
        height: 56px !important;
    }

    #nav{
        display: none !important;
    }

    #logo{
        width: 90px !important;
    }

    .pesquisa{
        display: none !important;
    }
    #pesquisao{
        display: none !important;
    }

    #logo{
        margin-left: auto !important;
        margin-right: auto !important;
    }
    #logao{
        width: 50% !important;
    }

    #category{
        display: none;
    }

    #icones{     
        margin-left: auto;
        font-size: 117% !important;
    }
    #Logo{
        margin-left: auto;
    }
    #entrar{
        display: none;
    }

    #icones i{
        font-size: 110%;
    }
}

@media (max-width: 1176px){
    #entrar{
        display: none;
    }
    #iconesao {
        width: 19% !important;
        margin-top: auto !important;
        margin-bottom: auto !important;
    }

    #pesquisao {
        width: 63% !important;
        margin-top: auto !important;
        margin-bottom: auto !important;
    }
    #icones i{
        margin-right: 16% !important; 
    }
}
/*nova navbar*/
#navbarzao{
    width: auto;
    height: 100px;
    background-color: rgb(168, 39, 219);
    display: flex;
    padding: 0px 9%;
}

#category{
    color: rgb(99, 16, 132)
}

#bodymenu{
    background-color: rgb(242, 242, 242);
}

#menucel{
    width: 25%;
    font-size: 180%;
    margin-top: auto;
    margin-bottom: auto;
}

#menucel button{
    border-style: none;
}

#menucel i{
    font-size: 200%;
    color: white;
}

#categ{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgb(168, 39, 219);
    padding: 15px;
    font-size: 131%;
}

#categ p{
    margin-bottom: 0px;
}

/*logo*/
#logao{
    width: 18%;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

#logo{
    width: 10vw;
    display: flex;
}



/*barra de pesquisa*/
#pesquisao{
    width: 65%;
    margin-top: auto;
    margin-bottom: auto;
}

.pesquisa{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: 3%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 11px;
}

#pesquisar{
    width: 83%;
    border-bottom-left-radius: 28px;
    border-top-left-radius: 28px;
    border-style: none;
    background-color: #f1f1f1;
    padding-left: 20px;
    font-size: 17px;
    padding: 11px;
}

.pesquisas{
    display: flex;
    width: 100%;
}


/*mudar icone*/
#iconesao{
    width: 17%;
    margin-top: auto;
    margin-bottom: auto;
}

#icones{
    float: right;
    font-size: 200%;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

#icones a{
    text-decoration: none;
    color: white;
}

#icones i{
    margin-right: 18%;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
}

#icones p{
    color: white;
    font-size: 16px;
    margin-top: 2px;
    margin-bottom: auto;
    line-height: 18px;
}

#entrar{
    width: 184px;
}

/*div com as ul`s*/
#list{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
/*ícone menu*/
#menu{
    font-size: 200%;
    display: flex;
    width: 12%;
    margin-top: auto;
    margin-bottom: auto;
}

/**/
.cabecalho{
    display: flex;
    background-color: rgb(168, 39, 219);
    padding: 20px 9%;
    
}

/*mexer nas ul`s que somem pra celular*/
#categ p{
    padding: 1%;
    display: flex;
}

#categ li{
    list-style: none;
    margin-left: -20px;
    padding: 5px 0px;
}

#categ a{
    text-decoration: none;
    color: rgb(168, 39, 219);
}

#categ{
    padding: 6px 12px;
}

.men{
    text-align: center;
    width: 100%;
    background-color: rgb(242, 242, 242);
    color: purple;
}

#menCateg{
    width: 100%;
}

#menCateg.hidden{
    display: none;
}

/*listas que não somem*/
#seta1{
    display: flex;
    transition: all 0.4s ease 0s;
    margin-left: 20px;
}


#seta1 i{
    margin-top: 5px;
}


#listacel{
    list-style: none;
    padding: 0%;
}
#listacel a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgb(168, 39, 219);
    padding: 15px;
    font-size: 131%;
}
/*mexer nas ul`s*/
#lista{
    display: flex;
    list-style: none;
    padding: 3%;
}

#lista a{
    text-decoration: none;
    color: rgb(168, 39, 219);
    padding: 18px;
    font-size: 81%;
}

#lista a:hover{
    background-color: rgb(236, 187, 241);
    transition: all 0.3s ease 0s;
}

#botão{
    border-bottom-right-radius: 28px;
    border-top-right-radius: 28px;
    border-style: none;
    font-size: 19px;
    padding: 11px;
    background-color: #f1f1f1;
}

#botão:hover{
    color: darkgray;
}

#lupa{
    margin-right: 6px;
}

#nav{
    display: flex;
}

#category button{
    border: none;
}

#category{
    padding: 10px;
}

#category span{
    margin-left: 10px;
    font-size: 22px;
    color: rgb(99, 16, 132);
}

#category i{
    color: rgb(99, 16, 132);
    font-size: 26px;
}

#category a{
    text-decoration: none;
    color: rgb(99, 16, 132);
    padding: 3px;
    font-size: 17px;
}

.dropdown-menu{
    border: 0px;
}
.drop{
    position: relative;
    top: -1px;
    width: 150%;
}

#facebook{
    margin-top: 17px;
    width: 100%;
    height: 68%;
    transition: all 0.4s ease 0s;
    opacity: 100%;
}


